* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f4f7fb;
  color: #172033;
  line-height: 1.6;
}

.hero {
  background: linear-gradient(135deg, #0f172a, #1e3a8a);
  color: white;
  min-height: 520px;
  padding: 28px 8%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 22px;
  font-weight: 600;
}

.hero-content {
  max-width: 850px;
  margin-top: 110px;
}

.badge {
  background: rgba(255,255,255,0.15);
  padding: 8px 14px;
  border-radius: 50px;
  display: inline-block;
  margin-bottom: 20px;
}

h1 {
  font-size: 48px;
  line-height: 1.1;
  margin-bottom: 22px;
}

.hero p {
  font-size: 20px;
  max-width: 720px;
  opacity: .95;
}

.buttons {
  margin-top: 32px;
}

.btn {
  padding: 14px 22px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  margin-right: 12px;
  display: inline-block;
}

.primary {
  background: #38bdf8;
  color: #06111f;
}

.secondary {
  border: 1px solid rgba(255,255,255,.5);
  color: white;
}

section {
  max-width: 1150px;
  margin: auto;
  padding: 70px 8%;
}

.stats {
  margin-top: -70px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 22px;
}

.stats div {
  background: white;
  padding: 32px;
  border-radius: 18px;
  box-shadow: 0 12px 35px rgba(15,23,42,.12);
  text-align: center;
}

.stats h2 {
  font-size: 36px;
  color: #1e3a8a;
}

section h2 {
  font-size: 32px;
  margin-bottom: 24px;
  color: #0f172a;
}

section p {
  font-size: 17px;
  max-width: 900px;
  margin-bottom: 14px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
}

.skills span {
  background: white;
  padding: 14px 18px;
  border-radius: 12px;
  font-weight: bold;
  box-shadow: 0 8px 22px rgba(15,23,42,.08);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 24px;
}

.card, .experience {
  background: white;
  padding: 28px;
  border-radius: 18px;
  box-shadow: 0 10px 28px rgba(15,23,42,.09);
  border: 1px solid #e5e7eb;
}

.card:hover {
  transform: translateY(-6px);
  transition: .3s;
}

.card small {
  color: #2563eb;
  font-weight: bold;
}

.card h3 {
  margin: 12px 0;
  font-size: 22px;
}

footer {
  background: #0f172a;
  color: white;
  text-align: center;
  padding: 28px;
}

@media (max-width: 750px) {
  h1 {
    font-size: 34px;
  }

  nav {
    display: block;
  }

  nav div {
    margin-top: 16px;
  }

  nav a {
    margin-left: 0;
    margin-right: 12px;
  }
  .experience ul {
  margin-top: 18px;
  padding-left: 22px;
}

.experience li {
  margin-bottom: 10px;
  font-size: 16px;
}

  .stats {
    grid-template-columns: 1fr;
    margin-top: 0;
  }
}
